.burger-menu {
    position: relative;
  }
  
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 10000; /* Чтобы иконка была поверх меню */
    &:active{
      z-index: 1000;
      background-color: white;
    }
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
    &:active{
      z-index: 1000;
      background-color: white;
    }
  }
  
  .burger-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
    z-index: 1000;
    background-color: black;
  }
  
  .burger-icon.open .bar:nth-child(2) {
    opacity: 0;
    z-index: 1000;
    background-color: black;
  }
  
  .burger-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
    z-index: 1000;
    background-color: black;
    
  }
  
  .fullscreen-menu {
    position: fixed;
    top: 60px;
    border: 1px solid black;
    border-radius: 10px;
    right: 130px;
    width: 10%;
    height: 20%;
    /* // background-color: rgba(0, 0, 0, 0.9); */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999; /* Меню должно быть под иконкой */
  }
  
  .fullscreen-menu.open {
    opacity: 1;
    visibility: visible;
  }
  
  .menu-content {
    text-align: center;
  }
  
  .menu-content a {
    display: block;
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 20px 0;
    transition: color 0.3s ease;
  }
  
  .menu-content a:hover {
    color: #007bff;
  }