header{ 
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: white;
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 50px;
    .nav{
        display: flex;
        align-items: center;
        gap: 130px;
        justify-content: space-between;
    }
    .logo{
        font-size: 30px;
    }
    .links{
        a{
            text-decoration: none;
            color: black;
            padding: 0 10px;
            font-size: 18px;
        }
    }
    .other{
        display: flex;
        gap: 20px;
    }
    button{
        padding: 5px 10px;
        border-radius: 20px;
        a{
            color: black;
            text-decoration: none;
        }
    }
}

