.payment-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.payment-icons img {
  height: 28px;
  background: white;
  padding: 4px 8px;
  border-radius: 6px; 
}

.btn2 {
    display: block;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
  }