.hero {
  height: 100vh;
  background-image: url("https://www.shutterstock.com/image-photo/beautiful-sunset-through-acacia-tree-600nw-2610138491.jpg"); /* положи картинку в public */
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.overlay h1 {
  font-size: 72px;
  margin: 0;
}

.search-box {
  margin-top: 30px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 180px;
}

.search-box button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #0b3d91;
  color: white;
  font-size: 18px;
  cursor: pointer;
}