.footer {
    background-color: aliceblue;
    padding: 64px 0;
  }
  
  .footer-container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    font-size: 20px;
    color: #4b5563;
  }
  
  .footer-title {
    font-weight: 600;
    margin-bottom: 26px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .footer-list li:hover {
    text-decoration: underline;
  }
  
  .btn2 {
    display: block;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .btn-dark {
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  
  .btn-blue {
    border-radius: 10px;
    color: white;
    background-color: blue ;
    padding: 10px;
  }
  
  .footer-copy {
    font-size: 12px;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  }
  