*{
    padding: 0;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.main_first{
    padding-top: 70px;
    h1{
        margin: 0 auto;
        color: white;
        font-size: 100px;
        font-weight: 10;
    }
    /* margin-top: -100px; */
    height: 100dvh;
    background-image: url(/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.second{
    padding-top: 70px;
    h1{
        margin: 0 auto;
        color: white;
        font-size: 100px;
        font-weight: 10;
    }
    height: 100dvh;
    background-image: url(/plane.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    padding-top: 150px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 1000px;

}
.simple_section{
    margin: 30px 0;
    display: flex;
    font-weight: 100;
    height: 90dvh;
    color: white;
    font-size: 35px;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
    background-color: #0a254d;
}
.half_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    gap: 40px;
    justify-content: center;
    img{
        border-radius: 5px;
        max-width: 800px;
    }
    h1{
        font-size: 60px;
    }
    button{
        max-width: 200px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
    }
}

.text_side{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.scroll{
    /* background-color: #0a254d; */
    height: 120dvh;
    position: relative;
    min-width: 1200px;
    padding: 20px 0;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/bus.jpg);
}
.mini_block{
    font-size: 20px;
    background-color: white;
    max-width: 450px;
    position: sticky;
    text-align: center;
    top: 450px;
    left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-height: 1300px;
    button{
        margin-top: 40px;
        border-radius: 10px;
        background-color: white;
        height: 45px;
        width: 200px;
    }
}
.text1{
    display: flex;
    padding: 20px;
    margin: 20px 0;
    height: 90dvh;
    justify-content: space-around;
    background-color: aliceblue;
}
.up{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 500px;
    h1{
        font-size: 80px;
    }
    button{
        padding: 10px 20px;
        background-color: white;
        border-radius: 20px;
        margin: 10px 20px;
    }
}
.low{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    text-wrap: wrap;
    max-width: 350px;
}
.connect1{
    height: 100dvh;
    display: flex;
    background-color: #0a254d;
}
.connect{
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    max-width: 900px;
    color: white;
    h1{
        font-weight: 100;
        font-size: 60px;
    }
    p{
        font-size: 20px;
    }
    button{
        padding: 20px 30px;
        max-width: 150px;
        background-color: white;
        border-radius: 20px;
        margin: 10px auto;
    }

}
.text_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    button{
        padding: 20px 30px;
        max-width: 250px;
        background-color: white;
        border-radius: 20px;
        margin: 10px auto;
    }
}
.text_cards{
    align-items: center;
    margin: 50px 0;
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    flex-wrap: wrap;
}
.tickets{
    background-color: aliceblue;
}