*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.main_first{
    padding-top: 70px;
    h1{
        margin: 0 auto;
        color: white;
        font-size: 90px;
        font-weight: 100;
    }
    /* margin-top: -100px; */
    height: 100dvh;
    background-image: url(/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
}
.simple_section{
    margin: 30px 0;
    display: flex;
    height: 90dvh;
    color: white;
    font-size: 35px;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
    background-color: #0a254d;
}
.half_image{
    display: flex;
    align-items: center;
    margin: 100px;
    gap: 40px;
    justify-content: center;
    img{
        border-radius: 5px;
        max-width: 800px;
    }
    h1{
        font-size: 60px;
    }
    button{
        max-width: 200px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
    }
}
.text_side{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.scroll{
    /* background-color: #0a254d; */
    height: 120dvh;
    position: relative;
    min-width: 1200px;
    padding: 20px 0;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/bus.jpg);
}
.mini_block{
    font-size: 20px;
    background-color: white;
    max-width: 450px;
    position: sticky;
    text-align: center;
    top: 450px;
    left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-height: 1300px;
    button{
        margin-top: 40px;
        border-radius: 10px;
        background-color: white;
        height: 45px;
        width: 200px;
    }
}