*{
    padding: 0;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.main_first{
    padding-top: 70px;
    h1{
        margin: 0 auto;
        color: white;
        font-size: 100px;
        font-weight: 10;
    }
    /* margin-top: -100px; */
    height: 100dvh;
    background-image: url(/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.second{
    padding-top: 70px;
    h1{
        margin: 0 auto;
        color: white;
        font-size: 100px;
        font-weight: 10;
    }
    height: 100dvh;
    background-image: url(/plane.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    padding-top: 150px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 1000px;

}
.simple_section{
    margin: 30px 0;
    display: flex;
    font-weight: 100;
    height: 90dvh;
    color: white;
    font-size: 55px;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
    background-color: #0a254d;
}
.half_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    gap: 40px;
    justify-content: center;
    img{
        border-radius: 5px;
        max-width: 800px;
    }
    h1{
        font-size: 60px;
    }
    button{
        max-width: 200px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
    }
}

.text_side{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.scroll{
    /* background-color: #0a254d; */
    height: 120dvh;
    position: relative;
    min-width: 1200px;
    padding: 20px 0;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/bus.jpg);
}
.mini_block{
    font-size: 20px;
    background-color: white;
    max-width: 450px;
    position: sticky;
    text-align: center;
    top: 450px;
    left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-height: 1300px;
    button{
        margin-top: 40px;
        border-radius: 10px;
        background-color: white;
        height: 45px;
        width: 200px;
    }
}
.text1{
    display: flex;
    padding: 20px;
    margin: 20px 0;
    height: 90dvh;
    justify-content: space-around;
    background-color: aliceblue;
}
.up{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 500px;
    h1{
        font-size: 80px;
    }
    button{
        padding: 10px 20px;
        background-color: white;
        border-radius: 20px;
        margin: 10px 20px;
    }
}
.low{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    text-wrap: wrap;
    max-width: 350px;
}
.connect1{
    height: 100dvh;
    display: flex;
    background-color: #0a254d;
}
.connect{
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    max-width: 900px;
    color: white;
    h1{
        font-weight: 100;
        font-size: 60px;
    }
    p{
        font-size: 20px;
    }
    button{
        padding: 20px 30px;
        max-width: 150px;
        background-color: white;
        border-radius: 20px;
        margin: 10px auto;
    }

}
.text_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    button{
        padding: 20px 30px;
        max-width: 250px;
        background-color: white;
        border-radius: 20px;
        margin: 10px auto;
    }
}
.text_cards{
    align-items: center;
    margin: 50px 0;
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    flex-wrap: wrap;
}
.tickets{
    background-color: aliceblue;
}

.containerr {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
.carrd {
    border: 1px solid #ddd;
    /* padding: 20px; */
    width: 600px;
    margin: 20px;
    font-size: 20px;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    height: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    button{
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px;
    }
}
.cards{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.big_title{
    display: flex;
    align-items: center;
    margin: 80px 0;
    justify-content: center;
    font-size: 90px;
}
.cardT{
    position: absolute;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    height: 210px;
    bottom: 10px;
    left: 80px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    button{
        border: 1px solid;
    }
}
.paddings{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.paddingss{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #0a254d;
    border: 1px solid black;
}
.cardd{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    max-width: 400px;
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
    background-color: white;
    p{
        font-size: 20px;
        text-align: center;
    }
}
.text_s{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    margin: 10px 20px;
    height: 100px;
    width: 2px;
    background-color: black;
}
.lll{
    margin-top: 600px ;
}
.main_section{
    position: relative;
    height: 150dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titlee{

    margin-top: 80px;
    position: absolute;
    top: 50px;
    text-align: center;
    color: white;
    h1{
        font-size: 180px;
    }
    p{
        font-size: 40px;
    }

}
.head{
    position: absolute;
    top: 0;
    margin: 10px auto;
}
.or{
    color: black;
}
.half{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 100px 20px;
    img{
        height: 550px;
        max-width: 800px;
    } 
    h2{
        font-size: 70px;
    }
    p{
        font-size: 30px;
        font-weight: 200;
    }
}
.contact-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background: linear-gradient(135deg, #f5f7fa, #c3cfe2); */
    background-color: #0a254d;
  }
  
.contact-form {
   background: white;
   padding: 50px;
   border-radius: 12px;
   width: 620px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
}
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-form input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .contact-form input:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  .contact-form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
  
 .contact-form button:hover {
   background-color: #357abd;
} 